* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 80%;
}

main {
  border: 0.1rem solid #333;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}