<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Pagar com cartão ou dinheiro</h2>
					<p>Com o Mercado Livre Cash, você tem prestações sem juros com cartão de crédito ou dinheiro nos pontos de pagamento. E é sempre seguro!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>Envío gratis desde $ 1.999</h2>
					<p>Apenas por estar registrado no Mercado Livre você recebe frete grátis em milhares de produtos. Este é um benefício
						de Mercado Pontos.</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Segurança, do início ao fim</h2>
					<p>Você não gosta? Devolva-o! No mercado Livre não há nada que você não possa fazer, porque você está sempre
						protegido.</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<div class="sub-footer">
	<div class="container">
		<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
	</div>
</div>