/* Seletores CSS
body -> seletor por tag (pode ser qualquer nome de tag)
.banner -> seletor por classe (tem que constar no html como class="banner")
#menu -> seletor por id (tem que constar no html como id="menu")

*/

body {
  margin: 0 auto;
  width: 100%;
  max-width: 697px;
  border: .5px solid #8888888e;
  font-family: 'Ropa sans';
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
}

header {
  padding: 16px 45px;
  border-bottom: .5px solid #8888888e;
}

main {
  padding: 16px 45px;
}

.banner {
  margin-bottom: 45px;
}

.banner img {
  width: 100%;
}

.products {
  text-align: justify;
}

section .left,
section .right {
  display: inline-block;
  vertical-align: top;
}

.right {
  margin-left: 90px;
}

.categories {
  min-height: 80px;
  opacity: .7;
  text-align: center;
  margin-bottom: 8px;
}

.categories p {
  display: inline-block;
  margin: 30px auto;
  color: #FFFFFF;
}

.categories.industrial {
  background-image: url('../img/industrial.png');
}

.categories.modern {
  background-image: url('../img/modern.png');
}

.categories.classic {
  background-image: url('../img/classic.png');
}

.your-style {
  margin: 45px 0;
  color: #888888;
}

.text-center {
  text-align: center;
}

.description {
  background-color: #EEEEEE;
  padding: 12px;
  font-size: 16px;
  max-width: 232px;
  max-height: 120px;
  overflow: hidden;
}

.money {
  font-size: 25px;
  line-height: 27px;
  color: #888888;
}

.badge {
  border-radius: 15px;
  color: white;
  padding: 0 16px;
  font-size: 20px;
  margin-left: 90px;
}

.badge.green {
  background-color: #51D275;
}

.badge.orange {
  background-color: #DC9730;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  padding: 45px;
  font-size: 12px;
}

footer div {
  display: inline-block;
}

footer .about {
  margin-left: 140px;
}

footer .social-media * {
  margin: 0 10px 0 0
}

#menu {
  display: none;
}

nav {
  display: inline-block;
  margin-left: 15%;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline;
  padding-left: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #888888;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  main {
    padding: 16px;
  }

  footer {
    padding: 16px;
    font-size: 16px;
  }

  #menu {
    margin-left: 65.7%;
    display: inline-block;
  }
}

@media (max-width: 468px) {
  #menu {
    margin-left: 65%;
    display: inline-block;
  }
}